
<div class="author">
    <h1 class="author__heading">Xin chào đến với blog</h1>
    <p class="author__body">Lê Quang Lưu và Lê Hoàng Dũng</p>
</div>

<img src="https://www.toponseek.com/wp-content/uploads/2024/07/viet-blog-3.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Nội dung mới nhất</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li class="article-item">
          <a href="/post/<%= post._id %>" class="article-link">
            <div class="article-content">
              <h3 class="article-title"><%= post.title %></h3>
              <p class="article-meta">
                <span class="article-author">Tác giả: <%= post.authorDetails.name %> --</span>
                <span class="article-date"><%= new Date(post.createdAt).toLocaleDateString() %></span>
              </p>
            </div>
          </a>
        </li>
      <% }) %>
    </ul>
  
    <% if (nextPage != null) { %>
      <div class="pagination-container">
        <a href="/?page=<%= nextPage %>" class="pagination-button">Xem thêm bài viết cũ</a>
      </div>
    <% } %>
  </section>
  